# Archivos generados
public/* linguist-generated=true

# Archivos de documentacion
docs/* linguist-documentation

# Archivos analizar
app/* linguist-vendored

# Analizar archivos Sql
*.sql linguist-generated=true

# Crear una extension con un lenguaje especifico
# *.rb linguist-language=Java
