# Archivos generados
Api.elm linguist-generated=true

# Archivos de documentacion
project-docs/* linguist-documentation

# Archivos analizar
app/* linguist-vendored

# Analizar archivos Sql
*.sql linguist-generated=true

# Crear una extension con un lenguaje especifico
# *.rb linguist-language=Java
